
.searchbar{
    margin-top: 75px;
}

.searchbar form {
    margin-left: 25%;
    position: relative;
    width: 50%;
}

.searchbar form input {
    border: none;
    background: linear-gradient(35deg, #494949, #313131);
    font-size: 18px;
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    outline: none;
    width: 100%;
}

.searchbar form svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
}

.searchbar p {
    font-size: 12px;
    margin-top: 50px;
    margin-left: 10%;
    font-weight: bold;
}